<h1>Edit Article</h1>

<%= render 'form' %>

<%= link_to 'Cancel and back to list', articles_path %> | 
<%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "are you sure?" } %>