<h1>Article lists</h1>
<div style="padding: 20px 0">
  <%= link_to 'Create new article', new_article_path %>
</div>
<%= render 'article' %>

<div style="padding-top: 20px">
  <%= link_to 'Home page', root_path %> | 
  <%= link_to 'About page', about_path %>
</div>