<div class="container" id="home-container">
  <div class="jumbotron text-center">
    <h1 class="display-4">Alpha Ruby Blog</h1>
    <p class="lead">“Patience you must have my young Padawan.” — Yoda</p>
    <hr class="my-4">
    <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>
