@import 'bootstrap/dist/css/bootstrap';

#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-image: asset-url('jumbo-tattoine.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

/* pagination styling */

.flickr-pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr-pagination a, .flickr-pagination span, .flickr-pagination em {
    padding: 0.2em 0.5em;
    border-radius: 5px;
   }
  .flickr-pagination .disabled {
    color: #aaaaaa; }
  .flickr-pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr-pagination a {
    border: 1px solid #aaaaaa;
    color: #aaaaaa;
    text-decoration: none; }
    .flickr-pagination a:hover, .flickr-pagination a:focus {
      border-color: gray;
      background: #aaaaaa;
      color: gray; }
  .flickr-pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr-pagination .previous_page, .flickr-pagination .next_page {
    border-width: 2px; }
  .flickr-pagination .previous_page {
    margin-right: 1em; }
  .flickr-pagination .next_page {
    margin-left: 1em; }